@font-face {
	font-family: 'Barlow Semi Condensed';
	src: url('./BarlowSemiCondensed-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}



@font-face {
	font-family: 'Barlow Semi Condensed';
	src: url('./BarlowSemiCondensed-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
